.container{ 
    display: flex;
    align-items: center;
    justify-content: center;

}
.pop-up{
    width:500px;
    height:500px;
    background:#c3c5d6;
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) ;
    display: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding:15px;

}
.close-btn{
    width:50px;

}
.btns-container{
    display: flex;
    


}
.popup-btns{
    
    bottom:200px;
    width:100%;
    border:0;
    margin:10px;
    padding:10px;
    border-radius: 5px;
    


}