.container{ 
    display: flex;
    align-items: center;
    justify-content: center;

}
.pop-up{

    width:600px;
    height:600px;
    background:#0a0a0a;
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) ;
    display: none;
    z-index: 1;

    align-items: center;
    justify-content: center;
    padding:15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

}
.close-btn{
    width:50px;

}
.btns-container{
    display: flex;
    


}
.popup-btns{
    
    bottom:200px;
    width:100%;
    border:0;
    margin:10px;
    padding:10px;
    border-radius: 5px;
    
    


}