{% include 'base.html' %}

{% load static %}
{% block content %}
<form action="{% url 'comments_list' tweet_id.id %}" method="post">
    {% csrf_token %}
    <div style="justify-content: center;">
        {{comment_form}}
    </div><br>
    <button type="submit" class="btn btn-outline-info" >Send Comment</button>

    <br>
    <hr>
    {% if comments %}
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
           <h4>{{total_comments}} Comments</h4>
        </button>
        {% for comment in comments %}
                <button type="button" class="list-group-item list-group-item-action" disabled>
                    {% if comment.user.profile_pic %}
                    <img src="{{comment.user.profile_pic.url }}" alt="" class="rounded-circle" width=30 height=30 >
                    {% else %}
                    <img src="{% static 'images/default_profile_pic.jpg' %}" alt="Profile pic" class="rounded-circle" width=30 height=30 >
                    {% endif %}
                    <a href="{% url 'profile' comment.user.id %}" style="text-decoration: none;">@ {{comment.user|lower}}</a> - {{comment.comment}}
                    <small class="text-muted" style="padding:10px;">{{comment.updated_at|timesince }} ago</small>
                
                </button>

        {% endfor %}
        </div>
    {% else %}
    <h4>No Comments in this Tweet </h4>
    {% endif %}

    

{% endblock %}